#header {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 5px;
    width: 50vw;
    margin: auto;
    justify-content: center;
    font-size: xx-large;
    color: rgb(10, 165, 165);
    border-bottom: double;
}

#textbox {
    display: flex;
    flex-wrap: wrap;
    border-style: inset;
    /* flex-direction: column; */
    width: 27vw;
    height: 3vw;
    margin: auto;
    justify-content: center;
    justify-content: space-evenly;
}

#todoContainer {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    margin: auto;
    justify-content: center;
}

.taskDiv {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    border-style: inset;
    min-height: 50px;
    min-width: 25vw;
    align-items: center;
    text-align: center;
    flex-direction: column;
}